//
//  Products: Override the appearance styles for CAROUSEL here.
//  Source: Magento/PageBuilder/view/frontend/web/css/source/content-type/products/_carousel.less
//  ___________________________________________________________________
@slick-dots-height-dekstop: 50px;

& when (@media-common = true) {
    [data-content-type="products"][data-appearance="carousel"] {
        .carousel-view-product {
            display: none;
        }
    }

    [data-content-type="products"][data-appearance="single-product"] {
        .widget-product-carousel.product-items.slick-slider .slick-slide:first-of-type.slick-current.slick-active {
            margin-left: 8px;
        }
        .widget-product-carousel.product-items.slick-slider .slick-list {
            padding: 0;
        }

        .product-items.widget-product-carousel {
            max-width: 1200px;
            margin: 0 auto;
            transition: opacity .15s ease-in-out;
            -moz-transition: opacity .15s ease-in-out;
            -webkit-transition: opacity .15s ease-in-out;

            &:not(.slick-initialized) {
                opacity: 0;

                li:not(first-of-type) {
                    display: none;
                }
            }

            &.slick-initialized {
                opacity: 1;
            }

            &.slick-slider {
                .slick-slide {
                    .product-item-info {
                        opacity: 0;
                        transition: opacity .15s ease-in-out;
                        -moz-transition: opacity .15s ease-in-out;
                        -webkit-transition: opacity .15s ease-in-out;
                    }

                    &.slick-current .product-item-info {
                        opacity: 1;
                    }
                }
            }

            .product-item {
                .product-item-info {
                    width: 100%;

                    .animate-style {
                        &:after {
                            display: none;
                        }
                    }

                    .effect {
                        border-bottom: none;
                        margin-bottom: 0;
                        flex: unset;
                    }

                    .actions-wrapper {
                        display: none;
                    }

                    .product-item-inner {
                        width: 100%;
                        display: flex;
                        border: none;
                        flex-direction: row;
                        padding: 0px;
                        align-items: center;

                        .product-item-photo {
                            width: 55%;
                            padding: 0;

                            .product-image-container {
                                max-width: 100%;
                                width: 100% !important;
                                display: block !important;
                                margin: 0 auto;

                                .amlabel-position-wrapper {
                                    display: none !important;
                                }
                            }
                        }

                        .product-item-details {
                            width: 45%;
                            text-align: left;

                            .price-box .price {
                                font-size: 2rem;
                            }

                            .product-item-link {
                                font-weight: 600;
                                font-size: 30px;
                                color: @color-black;
                                line-height: 40px;
                                display: block;
                            }

                            .carousel-view-product {
                                text-align: left;
                                margin-top: 25px;

                                .shop-button {
                                    text-align: center;
                                }
                            }
                        }

                        .available-colours, .swatch-attribute-options {
                            text-align: left;
                        }

                        .product-item-photo, .product-item-details {
                            padding: 0 10px;
                        }
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    [data-content-type="products"][data-appearance="single-product"] {
        .product-items.widget-product-carousel {
            .product-item {
                .product-item-info {
                    .product-item-inner {
                        display: block;

                        .carousel-view-product {
                            text-align: center;
                        }

                        .product-item-photo {
                            width: 100%;
                        }

                        .product-item-details {
                            width: 100%;
                            text-align: center;
                        }
                        .product-item-details .carousel-view-product {
                            text-align: center;
                        }
                    }
                }
            }

            .product-item {
                .product-item-info {
                    .product-item-inner {
                        .carousel-view-product, .available-colours {
                            text-align: center;

                            .swatch-attribute-options {
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    [data-content-type="products"][data-appearance="single-product"] {
        .widget-product-carousel.product-items.slick-slider .slick-slide:first-of-type.slick-current.slick-active {
            margin-left: 10px;
        }

        .product-items.widget-product-carousel {
            padding-bottom: @slick-dots-height-dekstop;

            &.slick-slider {
                .slick-arrow.slick-arrow {
                    bottom: 10px;
                }
            }

            .slick-dots {
                bottom: 0px;
                height: @slick-dots-height-dekstop;

                li {
                    height: @slick-dots-height-dekstop;

                    button {
                        height: 100%;
                        width: 100%;
                        display: block;
                        background: @color-white;

                        &:before {
                            font-size: 16px;
                            line-height: 20px;
                            position: absolute;
                            left: 0;
                            width: 100%;
                            height: 2px;
                            background: #000;
                            display: block;
                            top: 50%;
                            border-radius: 2px;
                            transition: all ease-in-out .2s;
                        }
                    }
                }
            }

            .product-item {
                .product-item-info {
                    .product-item-inner {
                        .product-item-photo {
                            padding: 0 40px;
                        }

                        .product-item-details {
                            padding: 0 40px 0 0;
                        }
                    }

                    .product-item-details {
                        display: block;

                        .product-item-link {
                            font-size: 34px;
                        }
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    [data-content-type="products"][data-appearance="single-product"] {
        .widget-product-carousel.product-items.slick-slider .slick-slide:first-of-type.slick-current.slick-active {
            margin-left: 15px;
        }

        .product-items.widget-product-carousel {
            .product-item {
                .product-item-info {
                    .product-item-inner {
                        .product-item-photo {
                            padding: 0 60px;
                        }

                        .product-item-details {
                            padding: 0 60px 0 0;
                        }
                    }
                }
            }
        }
    }
}
